
.commande-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 10px;
  margin-top: 10px;
}

.commande-details {
  display: flex;
  gap: 10px;
}

.commande-details label {
  display: flex;
  flex-direction: column;
}

.commande-details select,
.commande-details input {
  margin-top: 5px;
}

.commande-details input[type="date"] {
  width: 120px; 
}

button {
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


@media screen and (max-width: 768px) {
  .commande-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .commande-details {
    flex-direction: column;
  }

  .commande-details select,
  .commande-details input {
    width: 100%;
  }
}
