:root {
  --primary-color: #41a7fa;
  --hover-color: #307bb0;
  --border-color: #ccc;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
}



form {
  max-width: 600px;
  margin: 0 auto;
  padding: 2px; 
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input,
select {
  width: 100%;
  padding: 2px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  height: 30px;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 8px;
}

button:hover {
  background-color: var(--hover-color);
}

.Commande {
  box-shadow: 0 0 10px var(--box-shadow-color);
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  form {
    padding: 15px;
  }

  input,
  select {
    height: 40px;
  }

  button {
    margin-bottom: 12px;
  }
}
