.social-icons a {
    font-size: 20px;
    margin-right: 10px;
    color: #fff;
}

.social-icons a:hover {
    color: #ffc107; 
}

.footer-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Utilisez les media queries pour modifier le style en fonction de la largeur de l'écran */
  @media (max-width: 767px) {
    .footer-fixed {
      position: relative;
    }
  }
  